@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,700;1,100;1,300;1,400;1,700&display=swap');

:root {
    --button-primary-color: #1B4DFF;
    --white-color: #FFFFFF;
    --slate-color: #AFBACA;
    --slate-secondary-color: #5E718D;
    font-family: 'Poppins', sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    flex-basis: 100vh;
    height: 100vh;
    gap: 0.5rem;
}

header, .btn-container, .book-count-container {
    justify-self: center;
    align-self: center;
}

header > h1 {
    font-size: 3rem;
    font-weight: 700;
}

.btn {
    padding: 6px 12px;
    background-color: var(--button-primary-color);
    border-style: none;
    border-radius: 6px;
    color: var(--white-color);
    cursor: pointer;
}

.btn-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.book-count-container {
    text-align: center;
}

.bookshelf {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    justify-items: flex-start;
    gap: 0.5rem;

    padding: 2rem;
}

.book {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    justify-content: center;
    width: 100%;
    background: #E4E6F0;
    box-shadow: 1px 1px 1px rgb(153, 153, 156);
    padding: 1.25rem 0.5rem;
}

.book-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.add-book-dialog {
    position: relative;
    top: 30%;
    left: 40%;
    padding: 2rem;
    background-color: #E4E6F0;
    border-style: none;
    box-shadow: 2px 2px var(--slate-color);
}

.add-book-dialog form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}

.btn-container {
    display: flex;
    gap: 1rem;
}

.add-book-dialog form input[type="text"] {
    padding: 0.5rem 0.75rem;
    border: solid 1px var(--slate-color);
    border-radius: 3px;
}

form input[type="text"]:focus {
    outline: solid 1px var(--slate-secondary-color);
}

.radio-input-container {
    display: flex;
    gap: 0.5rem;
}

.book-title {
    text-align: center;
}

button[value="true"] {
    background-color: green;
    color: var(--white-color);
}

button[value="false"] {
    background-color: var(--slate-secondary-color);
    color: var(--white-color);
}

.delete {
    background-color: red;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--button-primary-color);
    color: #FFF;
    padding: 1rem;
    margin-top: auto;
}